<body>
    <div class="d-flex" id="wrapper">
  
      <!-- Sidebar -->
      <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading bg-dark text-white">GMAR | IZBORNIK</div>
        <div class="list-group list-group-flush">
          <a href="panel" class="list-group-item list-group-item-action bg-light">Početna</a>
          <a href="panel/nastavnik" class="list-group-item list-group-item-action bg-light">Nastavnici</a>
          <a href="panel/ucenik" class="list-group-item list-group-item-action bg-light">Učenici</a>
          <a href="panel/uloga" class="list-group-item list-group-item-action bg-light">Uloge</a>
          <a href="panel/program" class="list-group-item list-group-item-action bg-secondary text-white">Program</a>
          <a href="panel/razred" class="list-group-item list-group-item-action bg-light">Razredi</a>
          <a href="panel/predmet" class="list-group-item list-group-item-action bg-light">Predmeti</a>
          <a id="obavijesti" href="panel/obavijest" class="list-group-item list-group-item-action bg-light">Obavijesti</a>
          <a id="carnet" href="panel/carnet" class="list-group-item list-group-item-action bg-light">Carnet</a>
          <a href="prijava" (click)="odjava()" class="list-group-item list-group-item-action bg-info text-white">Odjavi se</a>
        </div>
      </div>
      <!-- /#sidebar-wrapper -->
  
      <!-- Page Content -->     
      <div id="page-content-wrapper" >
        <div class="bg-light">
          
            <h3 class="d-flex justify-content-center mt-2">Program</h3>
            <div class="d-flex justify-content-around m-3">
              <div class="d-flex justify-content-around">
                <!-- TRAZENJE PROGRAMA -->
                <input type="text" [(ngModel)]="unos" placeholder="Unesi npr. 1a..." id="">
                <button (click)="pretraziRazred()" type="button" class="btn btn-secondary" >Pretraži</button>
              </div>
              
              <!-- DODAVANJE PROGRAMA -->
              <button id="addprog" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                Dodaj program
              </button>
              
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Dodaj program</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="container">
                        <div class = "row pb-1">
                          <h6 class="col text-secondary">Molimo ispunite polja</h6>
                        </div>
                        <div class="row">
                          <label for="" class="col">
                            Godina: 
                            <input type="text" [(ngModel)] = "godina_godina_id" placeholder="godina_id">
                          </label>
                          <label for="" class="col">
                            Id razreda: 
                            <input type="text" [(ngModel)] = "razred_razred_id" placeholder="razred_id">
                          </label>
                        </div>
                        <div class="row">
                          <label for="" class="col">
                            Id smjera: 
                            <input type="text" [(ngModel)] = "smjer_smjer_id" placeholder="smjer_id">
                          </label>
                          <label for="" class="col">
                            Id predmeta: 
                            <input type="text" [(ngModel)] = "predmet_predmet_id" placeholder="predmet_id">
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
                      <button type="button" class="btn btn-primary" (click)="dodajProgram()" data-dismiss="modal">Spremi</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- BRISANJE PROGRAMA -->
              <button id="delprog" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal1">
                Obriši program
              </button>
              
              <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Obriši program</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                      <div class="modal-body">
                        <div class="container">
                          <div class = "row pb-1">
                            <h6 class="col text-secondary">Molimo ispunite polja</h6>
                          </div>
                          <div class="row">
                            <label for="" class="col">
                              Godina: 
                              <input type="text" [(ngModel)] = "godina_godina_id" placeholder="godina_id">
                            </label>
                            <label for="" class="col">
                              Id razreda: 
                              <input type="text" [(ngModel)] = "razred_razred_id" placeholder="razred_id">
                            </label>
                          </div>
                          <div class="row">
                            <label for="" class="col">
                              Id smjera: 
                              <input type="text" [(ngModel)] = "smjer_smjer_id" placeholder="smjer_id">
                            </label>
                            <label for="" class="col">
                              Id predmeta: 
                              <input type="text" [(ngModel)] = "predmet_predmet_id" placeholder="predmet_id">
                            </label>
                          </div>
                        </div>
                      </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
                      <button type="button" class="btn btn-primary" (click)="obrisiProgram()" data-dismiss="modal">Obriši</button>
                    </div>
                  </div>
                </div>
                </div>
              <button (click)="pretrazisvePrograme()" type="button" class="btn btn-secondary">Prikaži sve</button>
            </div>

            <!-- pocetna.js INSERTA TABLICU U OVAJ DIV -->
            <div id="showData" class="table-responsive">
              
            </div>
        </div>
      </div>
      <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
  </body>

