<body class="pt-0">
  <div class="d-flex" id="wrapper">
    
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading bg-dark text-white">GMAR | IZBORNIK</div>
      <div class="list-group list-group-flush">
        <a href="panel" class="list-group-item list-group-item-action bg-secondary text-white">Početna</a>
        <a href="panel/nastavnik" class="list-group-item list-group-item-action bg-light">Nastavnici</a>
        <a href="panel/ucenik" class="list-group-item list-group-item-action bg-light">Učenici</a>
        <a href="panel/uloga" class="list-group-item list-group-item-action bg-light">Uloge</a>
        <a href="panel/program" class="list-group-item list-group-item-action bg-light">Program</a>
        <a href="panel/razred" class="list-group-item list-group-item-action bg-light">Razredi</a>
        <a href="panel/predmet" class="list-group-item list-group-item-action bg-light">Predmeti</a>
        <a id="obavijesti" href="panel/obavijest" class="list-group-item list-group-item-action bg-light">Obavijesti</a>
        <a id="carnet" href="panel/carnet" class="list-group-item list-group-item-action bg-light">Carnet</a>
        <a href="prijava" (click)="odjava()" class="list-group-item list-group-item-action bg-info text-white">Odjavi se</a>
      </div>
    </div>
    

    <!-- PANEL CONTENT -->
    <div id="page-content-wrapper" class="bg-light">
      <div style="margin-left: 50px;">
          <h1 class="mt-4">Dobro došli</h1>
          <p>Nalazite se na nastavničkom panelu Gimnazije Matije Antuna Reljkovića.</p>
      </div>
    </div>
   

  </div>

  
  <script src="../../../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>